{
   "type": "hlfv1",
    "orderers": [
        "grpc://192.168.0.2:7050"
    ],
    "ca": "http://192.168.0.2:7054",
    "peers": [
        {
            "requestURL": "grpc://192.168.0.2:7056",
            "eventURL": "grpc://192.168.0.2:7058"
        }
    ],
    "keyValStore": "/home/ubuntu/.hfc-key-store",
    "channel": "mychannel",
    "mspID": "Org1MSP",
    "deployWaitTime": "300",
    "invokeWaitTime": "100"
}
